/* @import url('https://static.zeoseven.com/zsft/292/main/result.css'); */

body {
font-family: "LXGW WenKai", sans-serif;
font-weight: normal;
}
/* 在 overrides/css/extra.css */
:root {
  --md-primary-fg-color: #A68064;
  --md-accent-fg-color: #308014;
  --md-code-font: "LXGW WenKai"
}
/* custom.css */
h2 {
  color: rgb(95, 102, 224);
}
h3 {
  color: rgb(108, 192, 252);
}
/* h1, h2, h3 {
  color: #2c3e50;
  font-family: "LXGW WenKai", sans-serif;
  font-weight: normal;
} */
.important-box {
  background-color: #142637; /* 背景 */
  border-left: 4px solid #204e06; /* 左侧边框 */
  padding: 1em;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 轻微阴影 */
}
.highlight-box.important {
  background-color: #ffebee; /* 红色强调 */
  border-left-color: #f44336;
}

.highlight-box.tip {
  background-color: #e8f5e9; /* 绿色提示 */
  border-left-color: #4caf50;
}

/* 自定义Admonition样式 */
.md-typeset .admonition {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.md-typeset .admonition-title {
  font-weight: 700;
  padding-left: 2rem;
}

.md-typeset .admonition-title:before {
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.2em;
}
/* 代码块重点框 */
.highlight-box.code {
  position: relative;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  overflow: hidden;
}

.highlight-box.code::before {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f6f8fa;
  color: #6a737d;
  font-size: 12px;
  padding: 2px 8px;
  border-bottom-left-radius: 4px;
  font-family: monospace;
}
.mermaid {
  background-color: #000000 !important;
  border-radius: 8px;
  padding: 16px !important;
}

.mermaid svg { 
  background-color: transparent !important; 
}

.markdown-content h2 {
  font-size: 1.5rem;
  color: #5a21f6;
}
.markdown-content h3 {
  font-size: 1.5rem;
  color: #494357;
}

.subtitle-box {
  border: 1px solid #34474b; /* 边框 */
  padding: 5px; /* 内边距 */
  margin-bottom: 7px; /* 外边距 */
  background-color: #75aab3; /* 背景色 */
  display: inline-block;
}
.bordered-title {
  border-bottom: 10px solid #82aeba; /* 底部边框，可以根据需要调整颜色和宽度 */
  display: inline-block; /* 确保边框只围绕标题文字 */
}
